.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .main-content {
      font-size: medium;
      float: right;
     

  }

  content-wrapper {
      height: 100%;
  }

