<main class="wrapper mat-app-background">
  <section class="content-wrapper">
    <mat-card class="title-card">
      <mat-card-title-group> <img mat-card-image src="../assets/westrep_logo_crop.png" class="the-image">
        <span class="div-spacer"></span>
        <span></span>
      </mat-card-title-group>
    </mat-card>
    <mat-divider></mat-divider>
    <mat-toolbar color='accent' class="sub-navbar">
      <span>A manufacturerer's agency founded in 1968.</span>
      <span class="div-spacer"></span>
    </mat-toolbar>
    <mat-sidenav-container class="sidenav-container">
      <mat-sidenav mode="side" opened class="sidenav-stylez">
        <mat-card class="sidenav-card">
          <mat-card-title>Contact Us</mat-card-title>
          <mat-card-content>
            <br />
            <a href="mailto:info@westrepenterprises.com" target="_blank" mat-icon-button>
              <mat-icon>email</mat-icon> &nbsp;&nbsp; Send us an email
            </a> <br /><br />
            <a href="tel:1-626-292-3832" target="_blank" mat-icon-button>
              <mat-icon>call</mat-icon>&nbsp; &nbsp; Give us a call
            </a><br /><br />
            <a href="tel:1-800-365-6465" target="_blank" mat-icon-button>
              <mat-icon>call</mat-icon>&nbsp; &nbsp; Call us toll free
            </a><br /><br />
            <a href="https://goo.gl/maps/gW9H7RGn3JJe77dK7" target="_blank" mat-icon-button>
              <mat-icon>directions</mat-icon>&nbsp; &nbsp; Visit our warehouse
            </a><br /><br />
            <a href="https://www.facebook.com/Westrep-Enterprises-677521258951332/?ref=hl" target="_blank"
              mat-icon-button>
              <mat-icon>facebook</mat-icon>&nbsp;&nbsp; Like us on Facebook
            </a>
          </mat-card-content>
        </mat-card>
      </mat-sidenav>
      <mat-sidenav-content class="main-content" color='primary'>
        <mat-card>
          <mat-card-header>
            <mat-card-title>About Westrep Enterprises</mat-card-title>
            <mat-card-subtitle>Westrep Enterprises office and warehouse located in Temple City, California.
            </mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="../assets/westrep_building.png">
          <mat-card-content>
            Westrep Enterprises was founded in 1968 and has been operating as a manufacturer's agency for {{ogDiff}}. The
            current owner, Dean Marriott, took over {{deanDiff}} in 1992 to ensure the continued success into the
            future. Dean and the Westrep Enterprises team handle all the duties and requirements to effectively sell the
            products for the manufacturers currently represented in today's ever-changing marketplace.
            <br /> <br />
            For {{ogDiff}}, Westrep Enterprises has actively covered a territory which includes California, Arizona,
            Nevada, Utah, Colorado, Hawai'i, and New Mexico.
            <br /><br />
            Westrep only sells the products for the manufacturers represented through qualified distributors and dealers
            with all the
            modern equipment and technology to maintain close contact with our manufacturers and mutual customers.
          </mat-card-content>
        </mat-card>
      </mat-sidenav-content>
    </mat-sidenav-container>
    <mat-divider></mat-divider>
  </section>

  <mat-toolbar class="the-footer" color='primary'>
    <mat-toolbar-row>
      <span class="div-spacer"></span>
      <span class="material-icons">
        directions
        &nbsp;
      </span><a href="https://goo.gl/maps/gW9H7RGn3JJe77dK7">
        4930 Encinita Ave, Temple City, CA 91780
      </a>
      <span class="div-spacer"></span>
      <span class="material-icons">
        call
        &nbsp;
      </span> <a href="tel:1-626-292-3832">(626) 292-3832</a>
      <span class="div-spacer"></span>
      <span class="material-icons">
        call
        &nbsp;
      </span> &nbsp;<a href="tel:1-800-365-6465">toll free: (800)-365-6465</a>
      <span class="div-spacer"></span>
      <span class="material-icons">
        email
        &nbsp;
      </span><a href="mailto:info@westrepenterprises.com">info@westrepenterprises.com</a>
      <span class="div-spacer"></span>
      <span class="material-icons">facebook &nbsp;</span>
      <a href="https://www.facebook.com/Westrep-Enterprises-677521258951332/?ref=hl">Like us on Facebook</a>
      <span class="div-spacer"></span>
    </mat-toolbar-row>
  </mat-toolbar>
</main>