
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.content-wrapper {
    height: auto;
    width: 100%;
}

  .main-content {
      text-align: justify;
      padding: 3% 10%;
      font-family: 'Montserrat', sans-serif;
  }

  .the-footer {
      position: relative;
      color: white;
      font-weight: bold;
  }

  .the-footer .material-icons {
    color: white;
  }
mat-toolbar-row {
    font-weight: 200;
    font-size: 12px;
    color: white;
    text-align: justify;
    padding: 0 0;
}

.sidenav-container {
    position: relative;
    top: 20%;
    bottom: 0;
    left: 0;
    right: 0;
  }

  
  .div-spacer {
    flex: 1 1 auto;
  }

  mat-card {
    font-family: 'Montserrat', sans-serif;
  }

  a {
      font-family: 'Montserrat', sans-serif;
      font-size: smaller;
      font-weight: bold;
      text-decoration: none;
  }
  .the-footer a:link, a:active, a:visited, a:hover {
    color: white;
  }
  .sidenav-card a:link {
    color: black;
    
  }
  
  /* visited link */
  .sidenav-card a:visited {
    color: black;
  }
  
  /* mouse over link */
  .sidenav-card  a:hover {
    color: black;
  }
  
  /* selected link */
  .sidenav-card  a:active {
    color: black;
  }

  .sidenav-stylez {
      width: 20%;
  }

  .sidenav-card {
      height: 100%;
      max-height: 100%;
  }

  .sidenav-card .material-icons {
    color: #e51736;
    font-size: 30px;
    text-align: justify;
  }

  .sub-navbar {
      font-size: 12px;
      color: white;
      font-family: 'Montserrat', sans-serif;
  }

  .the-image {
    height: auto;
    width: auto;
    max-height: 80px;
    max-width: 300px;
    padding-left: 2%;
  }

  .title-card {
    border-radius: 0px !important;
    background-color: #e51736;
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 10;
    max-height: 90px;
  }

 
 
  

 