<main class="wrapper mat-app-background">
  <section class="content-wrapper">
    <mat-toolbar color='warn'>
      <span class="header-text">Westrep Enterprises</span>
    </mat-toolbar>

    <p class="main-content" color='primary'>
      <span>About Us</span>
      <br /><br />
      Westrep Enterprises was founded in 1968 by C.K. Keeble and has been an operating manufacture's agency for 46
      years. In 1992 Dean Marriott took over Westrep to insure the success into the future. Dean with Mark Romey,
      Gary
      Gillon and James Greene handle all duties and requirements to effectively sell the products for the
      manufactures
      currently represented in today's ever changing market place.
<br /><br />
      For 46 years Westrep has actively covered a territory which includes California, Nevada, Arizona, New Mexico,
      Utah, Colorado, Wyoming and Hawaii.
<br /><br />
      Today we operate from an office and warehouse located in a suburb of Los Angeles, near Pasadena. Westrep only
      sells the products for the manufacturers represented through qualified distributors/dealers. We have all the
      modern equipment and technology to maintain close contact with our manufacturers and mutual customers
    </p>
<br />
    <mat-divider></mat-divider>
    <mat-toolbar class="foooter" color='accent'>
      <mat-toolbar-row>
        <span class="material-icons">
          directions
          </span><a href="https://goo.gl/maps/gW9H7RGn3JJe77dK7">
        4930 Encinita Ave, Temple City, CA 91780
        </a>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <span class="material-icons">
          call
          </span> <a href="tel:1-626-292-3832">(626) 292-3832</a>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <span class="material-icons">
          call 
          </span> (Toll Free) <a href="tel:1-800-365-6465">(800)-365-6465</a>  
      </mat-toolbar-row>
      <mat-toolbar-row><span class="material-icons">
        email
        </span><a href="mailto:info@westrepenterprises.com">info@westrepenterprises.com</a>    
      </mat-toolbar-row>
    </mat-toolbar>
  </section>
</main>